* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #2a2b42;
    color: #ffffff;
}

.signup {
    width: 40%;
    height: max-content;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 30px;
}

.signup .head {
    text-align: center;
    padding: 20px 0px;
}

.signup form {
    padding-top: 30px;
    width: 100%;
    height: max-content;
}

.signup form .username,
.signup form .password,
.signup form .re-password,
.signup form .btn {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.signup form .username input,
.signup form .password input,
.signup form .re-password input {
    width: 70%;
    font-size: 1.2rem;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.signup form .btn button {
    width: max-content;
    padding: 7px 20px;
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    color: #ffffff;

    &:hover {
        background-color: rgb(7, 97, 7);
    }
}

.signup form span {
    color: red;
}

@media screen and (max-width:600px) {
    .signup {
        width: 90%;
    }

    .signup form .username,
    .signup form .password,
    .signup form .re-password,
    .signup form .btn {
        width: 100%;
    }
}